.heading-primary {
  color: #fff;
  margin-bottom: 2.5rem;
  font-weight: 400;
  text-align: center;
}
.heading-primary--main {
  display: block;
  font-size: 7rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.heading-primary--sub {
  display: block;
  font-family: "Satisfy", serif;
  font-size: 2.6rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #28b485, #ffb900);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 1s;
}
.heading-secondary:hover {
  transform: skewY(1deg) skewX(5deg);
  text-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 2rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

@keyframes fade1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade4 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (min-width: 81.25em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 61.9375em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 48em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 36em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 1.3;
  padding: 1rem;
  color: #777;
}

.u-align-center {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2.5rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  position: relative;
  border: 2px solid #846c38;
  display: inline-block;
  transition: all 0.2s;
}
.btn:hover {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.btn--brown {
  background-color: #846c38;
  color: #f7f7f7;
}

.btn-rectangular:link, .btn-rectangular:visited {
  color: #846c38;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #846c38;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.btn-rectangular--white:hover, .btn-rectangular:hover {
  background-color: #846c38;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}
.btn-rectangular--white:active, .btn-rectangular:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
}
.btn-rectangular--white:link, .btn-rectangular--white:visited {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.btn-rectangular--white:hover {
  border-bottom: 1px solid transparent;
}

.composition {
  position: relative;
  margin-left: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 70%;
}
@media only screen and (max-width: 48em) {
  .composition {
    margin: 0 auto;
    margin-top: 6rem;
  }
}
.composition__img {
  width: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  outline-offset: 2.5rem;
  transition: all 0.2s;
}
@media only screen and (max-width: 61.9375em) {
  .composition__img {
    position: unset;
  }
}
.composition__img--1 {
  left: -5rem;
  top: 0;
}
.composition__img--1-active {
  transform: scale(1.05) translateY(20rem) translateX(15rem);
  z-index: 58;
  outline: 1.5rem solid #4f612a;
  box-shadow: 0 1.75rem 5rem rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 61.9375em) {
  .composition__img--1-active {
    transform: scale(1.2);
    z-index: 58;
  }
}
.composition__img--2 {
  left: 10rem;
  top: 0rem;
}
.composition__img--2-active {
  transform: scale(1.05) translateY(20rem) translateX(0);
  z-index: 58;
  outline: 1.5rem solid #4f612a;
  box-shadow: 0 1.75rem 5rem rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 61.9375em) {
  .composition__img--2-active {
    transform: scale(1.2);
    z-index: 58;
  }
}
.composition__img--3 {
  left: 25rem;
  top: 0rem;
  padding-bottom: 0;
}
.composition__img--3-active {
  transform: scale(1.05) translateY(20rem) translateX(-15rem);
  z-index: 58;
  outline: 1.5rem solid #4f612a;
  box-shadow: 0 1.75rem 5rem rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 61.9375em) {
  .composition__img--3-active {
    transform: scale(1.2);
    z-index: 58;
  }
}

.amenity-box {
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  width: 28rem;
  height: 40rem;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.amenity-box--1 {
  background-image: linear-gradient(to right bottom, rgba(66, 109, 73, 0.5), rgba(79, 97, 42, 0.5)), url(../img/amenity-img-1.jpg);
  background-size: cover;
  background-position: 78% 50%;
}
.amenity-box--2 {
  background-image: linear-gradient(to right bottom, rgba(66, 109, 73, 0.5), rgba(79, 97, 42, 0.5)), url(../img/amenity-img-2.jpg);
  background-size: cover;
  background-position: 78% 50%;
}
.amenity-box--3 {
  background-image: linear-gradient(to right bottom, rgba(66, 109, 73, 0.5), rgba(79, 97, 42, 0.5)), url(../img/amenity-img-3.jpg);
  background-size: cover;
  background-position: 78% 50%;
}
.amenity-box--4 {
  background-image: linear-gradient(to right bottom, rgba(66, 109, 73, 0.5), rgba(79, 97, 42, 0.5)), url(../img/amenity-img-4.jpg);
  background-size: cover;
  background-position: 78% 50%;
}
.amenity-box__title {
  font-size: 4rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.9;
  transition: opacity 0.2s;
}
@media only screen and (max-width: 48em) {
  .amenity-box__title {
    opacity: 0;
  }
}
.amenity-box__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #28b485, #4f612a);
  width: 28rem;
  height: 40rem;
  opacity: 0;
  transition: opacity 0.2s;
}
@media only screen and (max-width: 48em) {
  .amenity-box__overlay {
    opacity: 0.6;
  }
}
.amenity-box:hover .amenity-box__overlay {
  opacity: 0.8;
}
@media only screen and (max-width: 48em) {
  .amenity-box:hover .amenity-box__overlay {
    opacity: 0.6;
  }
}
.amenity-box:hover .amenity-box__title {
  opacity: 0;
  transition: all 0.3s;
}
.amenity-box__content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 85%;
  opacity: 0;
}
@media only screen and (max-width: 48em) {
  .amenity-box__content {
    opacity: 1;
    top: 50%;
  }
}
.amenity-box:hover .amenity-box__content {
  opacity: 1;
  top: 50%;
  transition: all 0.3s;
}
.amenity-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right bottom, #fff, #ffb900);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.amenity-box__text {
  font-size: 1.5rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
  height: 100%;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bg-video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2998ff;
  opacity: 0.5;
  z-index: 2;
}

.testimonial {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  display: inline-block;
  border-radius: 2rem;
  overflow: hidden;
  height: fit-content;
}
.testimonial__shape {
  width: 17rem;
  height: 17rem;
  float: left;
  -webkit-clip-path: circle(90% at 3% 8%);
  clip-path: circle(90% at 3% 8%);
  -webkit-shape-outside: circle(90% at 3% 8%);
  shape-outside: circle(90% at 3% 8%);
  position: relative;
  transform: translate(-2rem);
}
.testimonial__image {
  height: 80%;
  transform: scale(1.45);
  transition: all 0.5s;
}
@media only screen and (max-width: 48em) {
  .testimonial__image {
    transform: scale(1);
    filter: blur(2px) brightness(80%);
  }
}
.testimonial:hover .testimonial__image {
  transform: scale(1.1);
  filter: blur(3px) brightness(80%);
}
.testimonial__para {
  font-size: 1.5rem;
}
.testimonial__text {
  padding: 2.3rem;
  height: auto;
}
.testimonial__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  opacity: 0;
  transition: all 0.3s;
}
@media only screen and (max-width: 48em) {
  .testimonial__caption {
    opacity: 1;
    transform: translate(-50%, -80%);
  }
}
.testimonial:hover .testimonial__caption {
  opacity: 1;
  transform: translate(-50%, -80%);
}
.testimonial--1 {
  float: left;
  margin-left: 5rem;
}
@media only screen and (max-width: 48em) {
  .testimonial--1 {
    margin: 0 auto;
  }
}
.testimonial--2 {
  float: right;
  margin-left: 3rem;
  margin-top: 9rem;
}
@media only screen and (max-width: 48em) {
  .testimonial--2 {
    margin: 0 auto;
    margin-top: 3rem;
  }
}

.plan {
  height: 47rem;
  color: #fff;
  perspective: 150rem;
  position: relative;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 48em) {
  .plan {
    height: auto;
    background-color: #fff;
  }
}
.plan__side {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.9s;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
@media only screen and (max-width: 48em) {
  .plan__side {
    height: auto;
    position: relative;
    box-shadow: none;
    border-radius: 0;
  }
}
.plan__side--front {
  background-color: #fff;
  border-radius: 30px 0 30px 0;
}
@media only screen and (max-width: 48em) {
  .plan__side--front {
    border-radius: 0;
  }
}
.plan__side--back {
  background-color: #426d49;
  transform: rotateY(180deg);
  border-radius: 0 30px 0 30px;
}
@media only screen and (max-width: 48em) {
  .plan__side--back {
    transform: rotateY(0);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    border-radius: 0;
  }
}
.plan__side--back-1 {
  background-image: linear-gradient(to right bottom, #e2b5a8, #777);
}
.plan__side--back-2 {
  background-image: linear-gradient(to right bottom, #bbd4eb, #777);
}
.plan__side--back-3 {
  background-image: linear-gradient(to right bottom, #b398b0, #777);
}
.plan:hover .plan__side--front {
  transform: rotateY(-180deg);
}
@media only screen and (max-width: 48em) {
  .plan:hover .plan__side--front {
    transform: rotateY(0);
  }
}
.plan:hover .plan__side--back {
  transform: rotateY(0deg);
}
.plan__image {
  height: 18rem;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
@supports (background-blend-mode: overlay) {
  .plan__image {
    background-blend-mode: overlay;
  }
}
.plan__image--1 {
  background-image: linear-gradient(to right bottom, rgba(226, 181, 168, 0.5), rgba(135, 108, 100, 0.5)), url(img/plan-img-1.jpg);
}
@supports (background-blend-mode: overlay) {
  .plan__image--1 {
    background-image: linear-gradient(to right bottom, #e2b5a8, #876c64), url(img/plan-img-1.jpg);
  }
}
.plan__image--2 {
  background-image: linear-gradient(to right bottom, rgba(187, 212, 235, 0.5), rgba(112, 127, 141, 0.5)), url(img/plan-img-2.jpg);
}
@supports (background-blend-mode: overlay) {
  .plan__image--2 {
    background-image: linear-gradient(to right bottom, #bbd4eb, #707f8d), url(img/plan-img-2.jpg);
  }
}
.plan__image--3 {
  background-image: linear-gradient(to right bottom, rgba(179, 152, 176, 0.5), rgba(128, 101, 125, 0.5)), url(img/plan-img-3.jpg);
}
@supports (background-blend-mode: overlay) {
  .plan__image--3 {
    background-image: linear-gradient(to right bottom, #b398b0, #80657d), url(img/plan-img-3.jpg);
  }
}
.plan__heading {
  color: #fff;
  font-weight: 400;
  font-size: 2.8rem;
  text-transform: uppercase;
  position: absolute;
  top: 11rem;
  right: 1.5rem;
  width: 20rem;
  text-align: right;
  padding: 1rem 1.5rem;
}
.plan__heading--1 {
  background-image: linear-gradient(to right bottom, rgba(226, 181, 168, 0.7), rgba(135, 108, 100, 0.7));
}
.plan__heading--2 {
  background-image: linear-gradient(to right bottom, rgba(187, 212, 235, 0.7), rgba(112, 127, 141, 0.7));
}
.plan__heading--3 {
  background-image: linear-gradient(to right bottom, rgba(179, 152, 176, 0.7), rgba(128, 101, 125, 0.7));
}
.plan__bullets {
  padding: 3rem;
}
.plan__bullets ul {
  color: #777;
  list-style: none;
  width: 90%;
  margin: 0 auto;
}
.plan__bullets ul li {
  text-align: center;
  font-size: 1.3rem;
  padding: 2rem;
}
.plan__bullets ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.plan__button {
  text-align: center;
}
@media only screen and (max-width: 48em) {
  .plan__button {
    padding: 3rem;
  }
}
.plan__cost-box {
  margin-top: 10rem;
  margin-bottom: 15rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 48em) {
  .plan__cost-box {
    margin-top: 5rem;
    margin-bottom: 6.3rem;
  }
}
.plan__cost-value {
  font-size: 5rem;
}
.plan__cost-duration {
  font-size: 1.5rem;
}

.contact {
  height: 53rem;
  background-image: radial-gradient(circle closest-corner at 75% 45%, transparent 0%, transparent, 50%, rgba(40, 180, 133, 0.4) 50%), url(img/contact-form-img-2.jpg);
  background-size: 100%;
  background-position: left 50%;
  border-radius: 3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
}
@media only screen and (max-width: 48em) {
  .contact {
    background-image: radial-gradient(circle closest-corner at 100% 100%, transparent 0%, transparent, 40%, rgba(40, 180, 133, 0.4) 40%), url(img/contact-form-img-2.jpg);
  }
}
@media only screen and (max-width: 36em) {
  .contact {
    background-size: 180% 200%;
  }
}
.contact__form {
  width: 50%;
  padding: 6rem;
}
@media only screen and (max-width: 48em) {
  .contact__form {
    width: 100%;
    padding: 3rem;
    text-align: center;
  }
}

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: 100%;
  border-radius: 2px;
  color: #333;
  font-family: inherit;
  opacity: 1;
  border-bottom: 3px solid transparent;
}
.form__input::-webkit-input-placeholder {
  color: #333;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #4f612a;
}
.form__input:invalid {
  border-bottom: 3px solid #876c64;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  transform: translateY(-4rem);
}
.form__label {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.5rem;
  color: #fff;
  display: block;
  transition: all 0.3s;
}
.form__group {
  margin-bottom: 3rem;
}
.form__radio-group {
  display: inline-block;
  width: 30%;
}
@media only screen and (min-width: 81.25em) {
  .form__radio-group {
    margin-right: 0.7rem;
  }
}
.form__radio-label {
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  padding-left: 5rem;
  position: relative;
}
@media only screen and (max-width: 36em) {
  .form__radio-label {
    padding-left: 3.5rem;
  }
}
.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.form__radio-input {
  display: none;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-image: url(img/golf-ball-texture-small.jpg);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  background-color: #28b485;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
}
.form__textarea {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  color: #333;
  width: 100%;
  height: 10rem;
  padding: 1.5rem 1rem;
}

.radio__group {
  display: flex;
  justify-content: space-evenly;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.9), rgba(79, 97, 42, 0.9));
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  visibility: hidden;
  z-index: 60;
}
.modal__container {
  border-radius: 0.5rem;
  width: 90vw;
  height: 60vh;
  max-width: 73.125rem;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.modal__container--list {
  list-style: none;
  color: #fff;
  font-size: 3.5rem;
  line-height: 2;
  text-transform: uppercase;
}
.modal__container--list li a {
  color: #fff;
  text-decoration: none;
}

.open-modal {
  visibility: visible;
  z-index: 60;
}

.hidden {
  overflow-y: hidden;
}

.header {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.header__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
}
.header__slider--1 {
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.5), rgba(79, 97, 42, 0.5)), url(img/header-image-1-medium.jpg);
  animation: fade1 10s infinite;
}
.header__slider--2 {
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.5), rgba(79, 97, 42, 0.5)), url(img/header-image-2-medium.jpg);
  animation: fade2 10s infinite;
}
.header__slider--3 {
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.5), rgba(79, 97, 42, 0.5)), url(img/header-image-3-medium.jpg);
  animation: fade3 10s infinite;
}
.header__slider--4 {
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.5), rgba(79, 97, 42, 0.5)), url(img/header-image-4-medium.jpg);
  animation: fade4 10s infinite;
}
.header__logo-box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__logo {
  height: 25rem;
}
.header__text-box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__btn-box {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about__container,
.testimonials__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 5rem;
  flex-wrap: wrap;
}

.about__container {
  padding-right: 3rem;
}

.amenities__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 5rem;
  gap: 1rem;
}

.membership__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 5rem;
  gap: 4rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 3rem;
  flex-wrap: wrap;
}

.footer {
  background-color: #333;
  padding: 5rem 0 3rem 0;
  font-size: 1.4rem;
  margin-top: 5rem;
}
.footer__logo {
  text-align: center;
  transform: translateY(-1.5rem);
}

.container__btns {
  display: flex;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: lighter;
  justify-content: flex-start;
  letter-spacing: 0.0313rem;
}
@media only screen and (max-width: 48em) {
  .container__btns {
    width: 100%;
  }
}
.container__btns ul {
  list-style: none;
  display: flex;
  border-top: 1px #707f8d solid;
  padding-top: 1.5rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}
@media only screen and (max-width: 48em) {
  .container__btns ul {
    width: 100%;
    justify-content: center;
  }
}
.container__btns ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
.container__btns ul li a:hover, .container__btns ul li a:active {
  color: #c4ac6c;
  transform: translateY(-3px);
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
}
.container__disclaimer {
  display: flex;
  color: #fff;
  text-align: left;
  line-height: 1.5;
  justify-content: flex-end;
}
@media only screen and (max-width: 48em) {
  .container__disclaimer {
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
  }
}
.container__disclaimer--text {
  margin-bottom: 1rem;
  width: 70%;
  text-align: left;
  font-size: 1.2rem;
  border-top: 1px #707f8d solid;
  padding-top: 1.5rem;
}
@media only screen and (max-width: 48em) {
  .container__disclaimer--text {
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
  }
}
@media only screen and (max-width: 48em) {
  .container__disclaimer--text {
    text-align: center;
    width: 100%;
  }
}
.container__disclaimer--name {
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: all 0.3s;
}
.container__disclaimer--name:hover, .container__disclaimer--name:active {
  color: #c4ac6c;
}

.nav {
  z-index: 2000;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(119, 119, 119, 0.9);
  background-image: linear-gradient(-45deg, rgba(255, 255, 220, 0.9) 0%, transparent 100%), url(img/golf-ball-texture-small.jpg);
  position: fixed;
  top: 6rem;
  right: 6rem;
  cursor: pointer;
  text-align: center;
}
.nav__checkbox {
  display: none;
}
@media only screen and (max-width: 36em) {
  .nav {
    top: 3rem;
    right: 3rem;
  }
}
.nav::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(0.7rem);
}
.nav__button {
  position: relative;
  margin-top: 3.5rem;
  cursor: pointer;
}
.nav__button, .nav__button::before, .nav__button::after {
  height: 2px;
  width: 3rem;
  background-color: #333;
  display: inline-block;
}
.nav__button::before, .nav__button::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.nav__button::before {
  top: -0.8rem;
}
.nav__button::after {
  top: 0.8rem;
}
.nav.open .nav__button {
  background-color: transparent;
}
.nav.open .nav__button::before {
  transform: rotate(135deg);
  top: 0;
}
.nav.open .nav__button::after {
  transform: rotate(-135deg);
  top: 0;
}
.nav__checkbox:checked + .nav__button .nav__icon {
  background-color: transparent;
}
.nav__checkbox:checked + .nav__button .nav__icon::before {
  transform: rotate(135deg);
  top: 0;
}
.nav__checkbox:checked + .nav__button .nav__icon::after {
  transform: rotate(-135deg);
  top: 0;
}

.about-section,
.testimonials-section,
.amenities-section {
  padding: 4rem 0;
}
@media only screen and (max-width: 36em) {
  .about-section,
.testimonials-section,
.amenities-section {
    padding: 2rem 0;
  }
}

.about-section {
  background-color: #f7f7f7;
}
@media only screen and (max-width: 36em) {
  .about-section {
    text-align: center;
  }
}

.amenities-section,
.contact-section {
  background-color: #fff;
}

.testimonials-section {
  position: relative;
}

.membership-section {
  padding: 7rem 0;
  background-color: #f7f7f7;
}
@media only screen and (max-width: 36em) {
  .membership-section {
    padding: 2rem 0;
  }
}

.contact-section {
  padding-top: 2rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 36em) {
  .contact-section {
    margin-bottom: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
