@use "../abstracts" as *;

.footer {
  background-color: $grey-dark-3;
  padding: 5rem 0 3rem 0;
  font-size: 1.4rem;
  margin-top: 5rem;

  @media only screen and (max-width: $breakpoint-425) {
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    text-align: center;
    transform: translateY(-1.5rem);

    @media only screen and (max-width: $breakpoint-425) {
      transform: translateX(15rem);
    }

    @media only screen and (max-width: $breakpoint-375) {
      transform: translateX(13rem);
    }

    @media only screen and (max-width: $breakpoint-320) {
      transform: translateX(10rem);
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media only screen and (max-width: $breakpoint-425) {
    width: 100%;
  }

  &__btns {
    display: flex;
    width: 40%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: lighter;
    justify-content: center;
    letter-spacing: 0.0313rem;

    @media only screen and (max-width: $breakpoint-969) {
      font-size: 1rem;
    }

    @media only screen and (max-width: $breakpoint-425) {
      width: 100%;
      font-size: 1.35rem;
      margin-top: 2rem;
    }

    @media only screen and (max-width: $breakpoint-375) {
      width: 93%;
      margin: 0 auto;
      font-size: 1.15rem;
    }

    @media only screen and (max-width: $breakpoint-320) {
      width: 99%;
      font-size: 1rem;
    }

    & ul {
      list-style: none;
      display: flex;
      border-top: 1px $secondary-2-dark solid;
      padding-top: 1.5rem;
      flex-wrap: wrap;
      gap: 1.5rem;

      @media only screen and (max-width: $breakpoint-768) {
        gap: 1rem;
      }

      & li {
        & a {
          color: $white;
          text-decoration: none;
          transition: all 0.3s;

          &:hover,
          &:active {
            color: $secondary-4;
            transform: translateY(-3px);
            box-shadow: 0 0.2rem 1rem rgba($black, 0.2);
          }
        }
      }
    }
  }

  &__disclaimer {
    width: 40%;
    color: $white;
    text-align: left;
    line-height: 1.5;

    @media only screen and (max-width: $breakpoint-425) {
      margin: 0 auto;
      margin-top: 5rem;
      width: 93%;
    }

    @media only screen and (max-width: $breakpoint-320) {
      width: 98%;
    }

    &--text {
      margin-bottom: 1rem;
      width: 70%;
      text-align: left;
      font-size: 1.2rem;
      border-top: 1px $secondary-2-dark solid;
      padding-top: 1.5rem;

      @media only screen and (max-width: $breakpoint-969) {
        font-size: 1.2rem;
      }

      @media only screen and (max-width: $breakpoint-768) {
        width: 90%;
      }

      @media only screen and (max-width: $breakpoint-425) {
        width: 100%;
        text-align: center;
      }
    }

    &--name {
      font-size: 1.5rem;
      text-transform: uppercase;
      transition: all 0.3s;

      @media only screen and (max-width: $breakpoint-768) {
        font-size: 1.3rem;
      }

      &:hover,
      &:active {
        color: $secondary-4;
      }
    }
  }
}
