@use "../abstracts" as *;

.footer {
  background-color: $grey-dark-3;
  padding: 5rem 0 3rem 0;
  font-size: 1.4rem;
  margin-top: 5rem;

  &__logo {
    text-align: center;
    transform: translateY(-1.5rem);
  }
}

.container {
  &__btns {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: lighter;
    justify-content: flex-start;
    letter-spacing: 0.0313rem;

    @include respond(tab-port) {
      width: 100%;
    }

    & ul {
      list-style: none;
      display: flex;
      border-top: 1px $secondary-2-dark solid;
      padding-top: 1.5rem;
      flex-wrap: wrap;
      gap: 1.5rem;

      @include respond(tab-port) {
        width: 100%;
        justify-content: center;
      }

      & li {
        & a {
          color: $white;
          text-decoration: none;
          transition: all 0.3s;

          &:hover,
          &:active {
            color: $secondary-4;
            transform: translateY(-3px);
            box-shadow: 0 0.2rem 1rem rgba($black, 0.2);
          }
        }
      }
    }
  }

  &__disclaimer {
    display: flex;
    color: $white;
    text-align: left;
    line-height: 1.5;
    justify-content: flex-end;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
      margin-top: 2.5rem;
    }

    &--text {
      margin-bottom: 1rem;
      width: 70%;
      text-align: left;
      font-size: 1.2rem;
      border-top: 1px $secondary-2-dark solid;
      padding-top: 1.5rem;

      @include respond(tab-port) {
        width: 100%;
        text-align: center;
        margin-top: 2.5rem;
      }

      @include respond(tab-port) {
        text-align: center;
        width: 100%;
      }
    }

    &--name {
      font-size: 1.5rem;
      text-transform: uppercase;
      transition: all 0.3s;

      &:hover,
      &:active {
        color: $secondary-4;
      }
    }
  }
}
