@use "../abstracts" as *;

.about__container,
.testimonials__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 5rem;
  flex-wrap: wrap;
}

.testimonials__container {
  // @media only screen and (max-width: $breakpoint-768) {
  //   grid-template-columns: unset;
  //   gap: 4rem;
  // }
}

.amenities__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 5rem;
  gap: 1rem;

  // @media only screen and (max-width: $breakpoint-1219) {
  //   gap: 4rem;
  // }
}

.membership__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 5rem;
  gap: 4rem;
}
