@use "../abstracts" as *;

.about__container,
.testimonials__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 5rem;
  flex-wrap: wrap;
}

.about__container {
  padding-right: 3rem;
}

.amenities__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 5rem;
  gap: 1rem;
}

.membership__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 5rem;
  gap: 4rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 3rem;
  flex-wrap: wrap;
}
