@use "../abstracts" as *;

.about-section,
.testimonials-section,
.amenities-section {
  padding: 4rem 0;

  @include respond(phone) {
    padding: 2rem 0;
  }
}

.about-section {
  background-color: $grey-light-1;

  @include respond(phone) {
    margin-top: 2rem;
    text-align: center;
  }
}

.amenities-section,
.contact-section {
  background-color: $white;
}

.testimonials-section {
  position: relative;
}

.membership-section {
  padding: 7rem 0;
  background-color: $grey-light-1;

  @include respond(phone) {
    padding: 2rem 0;
  }
}

.contact-section {
  padding-top: 2rem;
  margin-bottom: 5rem;

  @include respond(phone) {
    margin-bottom: 3rem;
  }
}
