@use "../abstracts/variables" as *;

.btn {
  // @media only screen and (max-width: $breakpoint-1169) {
  //   margin-top: 2.5rem;
  // }

  // @media only screen and (max-width: $breakpoint-1051) {
  //   margin-top: 3rem;
  // }

  // @media only screen and (max-width: $breakpoint-768) {
  //   margin-top: 3.5rem;
  // }

  // @media only screen and (max-width: $breakpoint-425) {
  //   margin-top: 1.5rem;
  // }

  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 5rem;
    font-size: $default-font-size;
    position: relative;
    border: 2px solid $brown;
    display: inline-block;
    transition: all 0.2s;

    @media only screen and (max-width: $breakpoint-880) {
      font-size: 1.3rem;
      padding: 1rem 2.5rem;
    }

    @media only screen and (max-width: $breakpoint-768) {
      padding: 1rem 2rem;
    }

    @media only screen and (max-width: $breakpoint-375) {
      font-size: 1.2rem;
      padding: 1rem 2.3rem;
    }
  }

  &:hover {
    outline: none;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($black, 0.5);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($black, 0.5);
  }

  &--brown {
    background-color: $brown;
    color: $grey-light-1;
  }
}

.btn-rectangular {
  &:link,
  &:visited {
    color: $brown;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid $brown;
    padding: 1rem 3rem;
    font-size: $default-font-size;
    transition: all 0.2s;
  }

  &--white:hover,
  &:hover {
    background-color: $brown;
    color: $white;
    box-shadow: 0 1rem 2rem rgba($black, 0.5);
    transform: translateY(-3px);
  }

  &--white:active,
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 2rem rgba($black, 0.5);
  }

  &--white:link,
  &--white:visited {
    color: $white;
    border-bottom: 1px solid $white;
  }

  &--white:hover {
    border-bottom: 1px solid transparent;
  }
}

.nav {
  background-image: url(../css/img/golf-ball-texture.jpg);
  background-image: linear-gradient(to right bottom, rgba($grey-light-2, 0.8), rgba($grey-dark-3, 0.5)), url(../css/img/golf-ball-texture.jpg);
  background-size: cover;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  right: 3rem;
  cursor: pointer;
  border: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  @media only screen and (max-width: $breakpoint-493) {
    width: 5.5rem;
    height: 5.5rem;
    right: 1.5rem;
  }

  &__button {
    width: 35px;
    height: 3px;
    background: $grey-dark-3;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: hidden;
    cursor: pointer;
    opacity: 0.8;

    @media only screen and (max-width: $breakpoint-493) {
      width: 30px;
      height: 3px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 35px;
      height: 3px;
      background: $grey-dark-3;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      border: hidden;

      @media only screen and (max-width: $breakpoint-493) {
        width: 30px;
        height: 3px;
      }
    }

    &::before {
      transform: translate(-16.5px, -10px);

      @media only screen and (max-width: $breakpoint-493) {
        transform: translate(-15px, -9px);
      }
    }

    &::after {
      transform: translate(-16.5px, 9px);

      @media only screen and (max-width: $breakpoint-493) {
        transform: translate(-15px, 6px);
      }
    }
  }

  &.open &__button {
    transform: translateX(-50px);
    background: transparent;

    @media only screen and (max-width: $breakpoint-493) {
      transform: translateX(-48.5px);
    }
  }

  &.open &__button::before {
    transform: rotate(45deg) translate(23px, -23px);
  }

  &.open &__button::after {
    transform: rotate(-45deg) translate(23px, 23px);
  }
}
