@use "../abstracts" as *;

.plan {
  height: 80vh;
  color: $white;
  perspective: 150rem;
  position: relative;
  width: 90%;
  margin: 0 auto;

  @media only screen and (max-width: $breakpoint-1169) {
    height: 100vh;
  }

  &:last-child {
    @media only screen and (max-width: $breakpoint-768) {
      padding-top: 53rem;
    }

    @media only screen and (max-width: $breakpoint-375) {
      padding-top: 50rem;
    }
  }

  @media only screen and (max-width: $breakpoint-999) {
    width: 70%;
  }

  @media only screen and (max-width: $breakpoint-768) {
    width: 85%;
  }

  @media only screen and (max-width: $breakpoint-659) {
    width: 50%;
  }

  @media only screen and (max-width: $breakpoint-588) {
    width: 60%;
  }

  @media only screen and (max-width: $breakpoint-493) {
    width: 80%;
  }

  @media only screen and (max-width: $breakpoint-375) {
    width: 95%;
  }

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.9s;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &--front {
      background-color: $white;
      border-radius: 30px 0 30px 0;
    }

    &--back {
      background-color: $primary-light-1;
      transform: rotateY(180deg);
      border-radius: 0 30px 0 30px;

      &-1 {
        background-image: linear-gradient(to right bottom, $secondary-1, $grey-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $secondary-2, $grey-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $secondary-3, $grey-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__image {
    height: 100%;
    background-size: cover;
    background-blend-mode: overlay;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom, $secondary-1, $secondary-1-dark), url(img/plan-img-1.jpg);
    }

    &--2 {
      background-image: linear-gradient(to right bottom, $secondary-2, $secondary-2-dark), url(img/plan-img-2.jpg);
    }

    &--3 {
      background-image: linear-gradient(to right bottom, $secondary-3, $secondary-3-dark), url(img/plan-img-3.jpg);
    }
  }

  &__heading {
    color: $white;
    font-weight: 400;
    font-size: 2.8rem;
    text-transform: uppercase;
    position: absolute;
    top: 9rem;
    right: 2rem;
    width: 20rem;
    text-align: right;
    padding: 1rem 1.5rem;

    &--1 {
      background-image: linear-gradient(to right bottom, rgba($secondary-1, 0.7), rgba($secondary-1-dark, 0.7));
    }

    &--2 {
      background-image: linear-gradient(to right bottom, rgba($secondary-2, 0.7), rgba($secondary-2-dark, 0.7));
    }

    &--3 {
      background-image: linear-gradient(to right bottom, rgba($secondary-3, 0.7), rgba($secondary-3-dark, 0.7));
    }
  }

  &__bullets {
    padding: 3rem;

    &:not(:last-child) {
      padding: 2rem 2rem 0.5rem 2rem;
    }

    @media only screen and (max-width: $breakpoint-880) {
      padding-top: 1.5rem;
    }

    ul {
      color: $grey-dark;
      list-style: none;
      width: 90%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.3rem;
        padding: 2rem;

        &:not(:last-child) {
          border-bottom: 1px solid $grey-light-2;
        }
      }
    }
  }

  &__button {
    text-align: center;
  }

  &__cost {
    &-box {
      margin-top: 10rem;
      margin-bottom: 15rem;
      text-transform: uppercase;
    }

    &-value {
      font-size: 5rem;
    }

    &-duration {
      font-size: 1.5rem;
    }
  }

  &__btn {
    display: none;
    margin: 0 auto;
    margin-bottom: 2rem;

    @media only screen and (max-width: $breakpoint-768) {
      display: block;
    }
  }
}
