@use "../abstracts" as *;

.testimonial {
  width: 75%;
  background-color: rgba($white, 0.7);
  box-shadow: 0 3rem 6rem rgba($black, 0.1);
  display: inline-block;
  border-radius: 2rem;
  overflow: hidden;
  height: fit-content;

  &__shape {
    width: 17rem;
    height: 17rem;
    float: left;
    -webkit-clip-path: circle(90% at 3% 8%);
    clip-path: circle(90% at 3% 8%);
    -webkit-shape-outside: circle(90% at 3% 8%);
    shape-outside: circle(90% at 3% 8%);
    position: relative;
    transform: translate(-2rem);
  }

  &__image {
    height: 80%;
    transform: scale(1.45);
    transition: all 0.5s;

    @include respond(tab-port) {
      transform: scale(1);
      filter: blur(2px) brightness(80%);
    }
  }

  &:hover &__image {
    transform: scale(1.1);
    filter: blur(3px) brightness(80%);
  }

  &__para {
    font-size: 1.5rem;
  }

  &__text {
    padding: 2.3rem;
    height: auto;
  }

  &__caption {
    position: absolute;
    top: 50%;
    @include center-object;
    color: $white;
    text-transform: uppercase;
    font-size: 1.7rem;
    opacity: 0;
    transition: all 0.3s;

    @include respond(tab-port) {
      opacity: 1;
      transform: translate(-50%, -80%);
    }
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -80%);
  }

  &--1 {
    float: left;
    margin-left: 5rem;

    @include respond(tab-port) {
      margin: 0 auto;
    }
  }

  &--2 {
    float: right;
    margin-left: 3rem;
    margin-top: 9rem;

    @include respond(tab-port) {
      margin: 0 auto;
      margin-top: 3rem;
    }
  }
}
