@use "../abstracts/variables" as *;

.heading-primary {
  color: $white;
  margin-bottom: 2.5rem;
  font-weight: 400;
  text-align: center;

  &--main {
    display: block;
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  &--sub {
    display: block;
    font-family: "Satisfy", serif;
    font-size: 2.6rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to bottom, $primary-light-2, $primary-dark);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 1s;

  &:hover {
    transform: skewY(1deg) skewX(5deg);
    text-shadow: 0.5rem 2rem 2rem rgba($black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  line-height: 2rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
